<ul ngbNav #nav="ngbNav" [(activeId)]="active" (click)="tabChange()" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Tariff Type Master</a>
    <ng-template ngbNavContent>
      <app-tarifftypemasterentry [(tariffType)]="tariffType"></app-tarifftypemasterentry>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Tariff Type Master @History</a>
    <ng-template ngbNavContent>
      <app-tarifftypemasterhistory (editTariffTypeEntry)="editTariffType($event)"></app-tarifftypemasterhistory>
    </ng-template>
  </li>

</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>