<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink (click)="setTab()">Stock Transfer Requisition</a>
    <ng-template ngbNavContent>
    <app-stocktransferrequisitionentry [(stockRequisition)]="stockRequisition" [(editmod)]="editmod" (editEntry)="editEntry($event)"></app-stocktransferrequisitionentry>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink (click)="setTab()">Stock Transfer Requisition @History</a>
    <ng-template ngbNavContent>
    <app-stocktransferrequisitionhistory (editStockTransferRequistionEntry)="editStockTransferRequistionEntry($event)"></app-stocktransferrequisitionhistory>
    </ng-template>
  </li>
  
</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>


