<ul ngbNav #nav="ngbNav" [(activeId)]="active" (click)="tabChange()" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Credit Tariff Master</a>
    <ng-template ngbNavContent>
    <app-credittrafficmasterentry [(credittarriffmaster)]="credittarriffmaster" [(editmod)]="editmod"></app-credittrafficmasterentry>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Credit Tariff Master @History</a>
    <ng-template ngbNavContent>
    <app-credittrafficmasterhistory (editCredittrafficmasterEntry)="editCredittarriffmaster($event)"></app-credittrafficmasterhistory>
    </ng-template>
  </li>
  
</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>
<ngx-loading-bar [color]="'var(--primary)'"></ngx-loading-bar>

