<div>
  <form autocomplete="off"  #formForm="ngForm" (ngSubmit)="formForm.form.valid && save()" novalidate>
    <p-toolbar [style]="{width: '95%',padding:'2px'}">
      <div class="p-toolbar-group-left ">
      </div>
      <div class="p-toolbar-group-right">
        <div class="row">
          <div class="col-sm-6 ">
            <button pButton pRipple type="submit" label="Save"  icon="pi pi-check"
              iconPos="left"></button>
          </div>
          <div class="col-sm-6 ">
            <button pButton pRipple type="reset" label="Reset" (click)="save()" icon="pi pi-undo"
              iconPos="left"></button>
          </div>
        </div>
      </div>
    </p-toolbar>

    <div class="panel-body">

      <div class="row">
      </div>

      <div class="row">
        <div class="col-sm-4 form-group row">
          <label class="col-sm-4 col-form-label">Reffered By</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" 	pInputText pKeyFilter="alphanum" name="reffBy" [(ngModel)]="partymaster.reffBy">
          <!--  <p-autoComplete [(ngModel)]="partymaster.reffBy" name="reffBy" [minLength]="1" [suggestions]="filteredEmps"
              (completeMethod)="filterEmp($event)" field="emp_name" [dropdown]="true">
              <ng-template let-branch pTemplate="item">
                <div class="branch-item">
                  <div>{{branch.emp_name}}</div>
                </div>
              </ng-template>
            </p-autoComplete>-->

          </div>
        </div>

        <div class="col-sm-4 form-group row">
          <label class="col-sm-4 col-form-label">Party Name<span class="required-asterisk">*</span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="partyName" 	pInputText pKeyFilter="alpha" [(ngModel)]="partymaster.partyName">
          </div>
        </div>

        <div class="col-sm-4 form-group row">
          <label class="col-sm-4 col-form-label">Party Label</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="partylabel" 	pInputText pKeyFilter="alpha" [(ngModel)]="partymaster.partylabel">
          </div>
        </div>

        </div>

        <div class="row">
      <div class="col-sm-4 form-group row">
          <label class="col-sm-4 col-form-label">Party Address<span class="required-asterisk">*</span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="address1" [(ngModel)]="partymaster.address1">
          </div>
        </div>


        
        <div class="col-sm-4 form-group row">
          <label class="col-sm-4 col-form-label">Party GST No</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" 	pInputText pKeyFilter="alphanum" name="customerGstno" [(ngModel)]="partymaster.customerGstno">
          </div>
        </div>
      

      <div class="col-sm-4 form-group row">
        <label for="inputEmail3" class="col-sm-4 col-form-label">State<span class="required-asterisk">*</span></label>
        <div class="col-sm-8">
           <p-autoComplete  [(ngModel)]="partymaster.partyType" name="partyType" [minLength]="1" [suggestions]="filteredParties" (completeMethod)="filterParty($event)" [disabled]="editmod" (onSelect)="stateSelection($event)"  field="state_name" [dropdown]="true">
            <ng-template let-party pTemplate="item">
                <div class="party-item">
                  <div>{{party.state_name}}</div>
                </div>
            </ng-template>
        </p-autoComplete>
        
        </div>
      </div>

      </div>
      <div class="row">
      <div class="col-sm-4 form-group row">
        <label  class="col-sm-4 col-form-label">Location<span class="required-asterisk">*</span></label>
        <div class="col-sm-8">
          <input type="text" class="form-control" 	pInputText pKeyFilter="alphanum" name="locationId" [(ngModel)]="partymaster.locationId">
          <!--<p-autoComplete  [(ngModel)]="partymaster.locationId"  name="locationId" [minLength]="1" [suggestions]="filteredLocations" (completeMethod)="filterLocation($event)" field="location_code" [dropdown]="true">
            <ng-template let-location pTemplate="item">
                <div class="location-item">
                  <div>{{location.location_code}}</div>
                </div>
            </ng-template>
        </p-autoComplete>-->
        </div>
      </div>
     
        <div class="col-sm-4 form-group row">
          <label class="col-sm-4 col-form-label"> Party PAN No </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="customerPanno" 	pInputText pKeyFilter="alphanum" [(ngModel)]="partymaster.customerPanno">
          </div>
        </div>

        <div class="col-sm-4 form-group row">
          <label class="col-sm-4 col-form-label">Mobile No<span class="required-asterisk">*</span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" 	pInputText pKeyFilter="int" name="mobileno" OnlyNumber='true' maxlength="10"
              [(ngModel)]="partymaster.mobileno">
          </div>
          </div>
        
         <div class="col-sm-4 form-group row">
          <label class="col-sm-4 col-form-label">Email Id</label>
          <div class="col-sm-8">
            <input type="email" class="form-control" name="emailId" [(ngModel)]="partymaster.emailId">
          </div>
        </div>
     
        <div class="col-sm-4 form-group row">
          <label class="col-sm-4 col-form-label">Contract From</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="contactperson" [(ngModel)]="partymaster.contactperson">
          </div>
        </div>
      

        <div class="col-sm-4 form-group row">
          <label class="col-sm-4 col-form-label">Contract upto</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="trasporter" [(ngModel)]="partymaster.trasporter">
          </div>
        </div>
        </div>

      <div class="row">
        <div class="col-sm-4 form-group row">
          <label class="col-sm-4 col-form-label">Courier Charges</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="serviceTaxPc" 	pInputText pKeyFilter="num"
              [(ngModel)]="partymaster.serviceTaxPc">
          </div>
        </div>
        <div class="col-sm-4 form-group row">
          <label class="col-sm-4 col-form-label">Fuel & Surcharge %</label>
          <div class="col-sm-8">
            <input type="text" class="form-control text-right" name="fuelSurchargePc" 	pInputText pKeyFilter="num"
              [(ngModel)]="partymaster.fuelSurchargePc">
          </div>
        </div>

        <div class="col-sm-4 form-group row">
          <label class="col-sm-4 col-form-label">CGST%<span class="required-asterisk">*</span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control text-right" name="cgst" 	pInputText pKeyFilter="num" [(ngModel)]="partymaster.cgst">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 form-group row">
          <label class="col-sm-4 col-form-label">SGST%</label>
          <div class="col-sm-8">
            <input type="text" class="form-control text-right" name="sgst" 	pInputText pKeyFilter="num" [(ngModel)]="partymaster.sgst">
          </div>
        </div>
        <div class="col-sm-4 form-group row">
          <label class="col-sm-4 col-form-label">IGST%</label>
          <div class="col-sm-8">
            <input type="text" class="form-control text-right" name="igst" 	pInputText pKeyFilter="num" [(ngModel)]="partymaster.igst">
          </div>
        </div>
        <div class="col-sm-4 form-group row">
          <label class="col-sm-4 col-form-label">Contact No<span class="required-asterisk">*</span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="phno" 	pInputText pKeyFilter="int" [(ngModel)]="partymaster.phno">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 form-group row">
          <label class="col-sm-4 col-form-label">Declaration%</label>
          <div class="col-sm-8">
            <input type="text" class="form-control text-right" name="declaration" 	pInputText pKeyFilter="num" [(ngModel)]="partymaster.declaration">
          </div>
        </div>

      </div>

    

    <div>
      <!--<p-table #detailtable dataKey="sno" editMode="row" [scrollable]="false" scrollHeight="250px">
        <ng-template pTemplate="header">
          <tr>
            <th style="width:2em">SNo.</th>
            <th style="width:10em;text-align:center;">Branch Name</th>
            <th style="width:8em">
            <p-button label="New" icon="pi pi-plus" ></p-button>
            </th>
            <th></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
          <tr [pEditableRow]="product">
            <td style="width:2em">{{product.sno}}</td>
            <td style="width:10em;" pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  
                 <p-autoComplete [minLength]="1" name="branchName{{ri}}" [(ngModel)]="partymaster.branchName"
                    [suggestions]="filteredBranches" (completeMethod)="filterBranch($event)" field="location_name"
                    [dropdown]="true">
                    <ng-template let-branch pTemplate="item">
                      <div class="branch-item">
                        <div>{{branch.location_name}}</div>
                      </div>
                    </ng-template>
                  </p-autoComplete>
              
                </ng-template>
                <ng-template pTemplate="output">
                  {{product.branchName.location_name}}
                </ng-template>
              </p-cellEditor>
            </td>
             <td style="width:10em;" pEditableColumn>
             <td style="text-align:center">
              <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                (click)="onRowEditInit(product, ri)" class="p-button-rounded p-button-text"></button>
              <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                (click)="onRowEditSave(product, ri)"
                class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
              <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                (click)="onRowEditCancel(product, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
            </td>
            <td style="text-align:center">
              <button pButton pRipple type="button" icon="pi pi-trash" (click)="onRowDelete(product, ri)"
                class="p-button-rounded p-button-danger p-button-text"></button>

            </td>
          </tr>
        </ng-template>
      </p-table>-->
      <ng-container *ngIf="!editmod">
        <h5>Select Branches</h5>
  <p-listbox [options]="filteredbranches" [(ngModel)]="partymaster.branches" [metaKeySelection]="false" [checkbox]="true"
    [filter]="true" [multiple]="true" optionLabel="location_name" [listStyle]="{'max-height':'250px'}" [ngModelOptions]="{standalone: true}" [style]="{'width':'15rem'}">
    <ng-template let-country pTemplate="item">
      <div class="country-item">
        <div>{{country.location_name}}</div>
      </div>
    </ng-template>
  </p-listbox>
      </ng-container>
  
    
      <p-toast position="bottom-center" key="success"></p-toast>
      <p-toast position="bottom-center" key="error"></p-toast>
    
</div>