<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Mode Of Payment</a>
    <ng-template ngbNavContent>
      <app-modeofpaymententry [(paymentModemaster)]="paymentModemaster"></app-modeofpaymententry>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink (click)="clear();">Mode Of Payment@History</a>
    <ng-template ngbNavContent>
      <app-modeofpaymenthistory (editBranchentry)="editBranchentry($event)"></app-modeofpaymenthistory>
    </ng-template>
  </li>

</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>