<div >
  <form autocomplete="off" #reportForm="ngForm">
    <div class="panel panel-primary">
      <p-toolbar>
        <div class="p-toolbar-group-left ">
          
        </div>
        <div class="p-toolbar-group-right">
          <div class="row d-flex justify-content-around">
            <div class="col-sm-6 ">
              <p-button label="Save" (click)="save();" styleClass="p-mr-2" size="large"></p-button>
            </div>
            <div class="col-sm-6 ">
              <!--p-button label="Reset" styleClass="p-mr-2" size="large"></p-button-->
            </div>
          </div>
        </div>
      </p-toolbar>

      <div class="panel-body">

        <div class="row">
          <div class="col-sm-4 form-group row">
            <label class="col-sm-4 col-form-label">No</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="fromWeight" 
                OnlyNumber='true' >
            </div>
          </div>
          <div class="col-sm-4 form-group row">
            <label class="col-sm-4 col-form-label">Date</label>
            <div class="col-sm-8">
                <p-calendar dateFormat="mm-dd-yy" hideOnDateTimeSelect="true" hourFormat="12" showTime="true"
              [showIcon]="true" name="fromWeight" ></p-calendar>
            </div>
          </div>
          <div class="col-sm-4 form-group row">
            <label class="col-sm-4 col-form-label">Location</label>
            <div class="col-sm-8">
              <p-autoComplete [minLength]="1" name="party_name" 
              [suggestions]="filteredList5" (completeMethod)="filterList5($event)" field="location_name"
              [dropdown]="true">
              <ng-template let-branch pTemplate="item">
                <div class="branch-item">
                  <div>{{branch.location_name}}</div>
                </div>
              </ng-template>
            </p-autoComplete>
            
            </div>
          </div>
          </div>
          
          
          <div class="row">
            <div class="col-sm-4 form-group row">
              <label class="col-sm-4 col-form-label">Customer Name</label>
              <div class="col-sm-8">
                <p-autoComplete [minLength]="1" name="party_name" 
                [suggestions]="filteredEmpList1" (completeMethod)="filterEmpList1($event)" field="party_name"
                [dropdown]="true">
                <ng-template let-branch pTemplate="item">
                  <div class="branch-item">
                    <div>{{branch.party_name}}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
              
              </div>
            </div>
            <div class="col-sm-4 form-group row">
              <label class="col-sm-4 col-form-label">Note</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="toWeight">
              </div>
            </div>
            <div class="col-sm-4 form-group row">
              <label class="col-sm-4 col-form-label">User Name</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="toWeight" >
              </div>
            </div>
            </div>
            
    </div>
    <div>

      <p-table [value]="products2" #detailtable dataKey="sno" editMode="row">
        <ng-template pTemplate="header">
          <tr>
            <th style="width:3em">SNo.</th>
            <th>Title</th>
            <th>Author</th>
            <th>Qty</th>
            <th>Rate</th>
            <th>Amount</th>
            <th>Disc%</th>
            <th>Disc Amt</th>
            <th>Net Amt</th>
            <th>ISBN Code</th>
            <th style="width:8em">
              <p-button label="New" icon="pi pi-plus" (click)="addvalue();"></p-button>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
          <tr [pEditableRow]="product">
            <td>{{product.sno}}</td>

            <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <p-autoComplete [minLength]="1" name="productId{{ri}}" (onSelect)="change1($event,ri,product);"
                    [suggestions]="filteredEmpList2" (completeMethod)="filterEmpList2($event)"
                    [(ngModel)]="product.productId" field="prod_name" delay="500" [dropdown]="true" [multiple]="false"
                    [virtualScroll]="false">
                    <ng-template let-branch pTemplate="item">
                      <div class="branch-item">
                        <div style="font-size:10px;">
                          {{branch.prod_name}}--{{branch.product_code}}--{{branch.product_rate}}</div>
                      </div>
                    </ng-template>
                  </p-autoComplete>
                </ng-template>
                <ng-template pTemplate="output">
                  {{product.productId.prod_name}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" name="rate" [(ngModel)]="product.rate">
                </ng-template>
                <ng-template pTemplate="output">
                  {{product.rate}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" name="rate" [(ngModel)]="product.rate">
                </ng-template>
                <ng-template pTemplate="output">
                  {{product.rate}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" name="rate" [(ngModel)]="product.rate">
                </ng-template>
                <ng-template pTemplate="output">
                  {{product.rate}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" name="rate" [(ngModel)]="product.rate">
                </ng-template>
                <ng-template pTemplate="output">
                  {{product.rate}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" name="rate" [(ngModel)]="product.rate">
                </ng-template>
                <ng-template pTemplate="output">
                  {{product.rate}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" name="addrate" [(ngModel)]="product.addrate">
                </ng-template>
                <ng-template pTemplate="output">
                  {{product.addrate}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" name="addrate" [(ngModel)]="product.addrate">
                </ng-template>
                <ng-template pTemplate="output">
                  {{product.addrate}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" name="addrate" [(ngModel)]="product.addrate">
                </ng-template>
                <ng-template pTemplate="output">
                  {{product.addrate}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td style="text-align:center">
              <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                (click)="onRowEditInit(product, ri)" class="p-button-rounded p-button-text"></button>
              <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                (click)="onRowEditSave(product)"
                class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
              <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                (click)="onRowEditCancel(product, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
            </td>
            <td style="text-align:center">
              <button pButton pRipple type="button" icon="pi pi-trash" (click)="onRowDelete(product, ri)"
                class="p-button-rounded p-button-danger p-button-text"></button>

            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    </div>
  </form>

</div>