<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Author Master</a>
    <ng-template ngbNavContent>
      <app-authormasterentry [(authormaster)]="authormaster"></app-authormasterentry>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink (click)="clear();">Author Master @History</a>
    <ng-template ngbNavContent>
      <app-authormasterhistory (editBranchentry)="editBranchentry($event)"></app-authormasterhistory>
    </ng-template>
  </li>

</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>