   




    

    <div class="row" style="text-align: center;">
      
        <div class="col-12"  style="background-color: #e9e6e6; background-size: cover; height: 70vh; width: 50vw;">
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-4 form-group row">
                <label class="col-sm-4 col-form-label">Server IP Address<span  class="required-asterisk">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control"  >
                  </div>
                </div>
              </div>
            </div>
          <div class="col-12 text-center pt-5 pb-2" style="font-family: Arial, Helvetica, sans-serif; text-align: center;">
             <button class="btn btn-primary"   (click)="upload()"  > Upload</button>   
             
          </div>

          <div class="col-12 text-center pt-2 pb-5" style="font-family: Arial, Helvetica, sans-serif; text-align: center;">
              
            <button class="btn btn-success"   (click)="download()"  >Download</button>
         </div>
        </div>
    </div>


    


