<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink (click)="setTab()">Party Master</a>
    <ng-template ngbNavContent>
    <app-partyentry [(partymaster)]="partymaster" [(editmod)]="editmod"></app-partyentry>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink (click)="setTab()">Party Master @History</a>
    <ng-template ngbNavContent>
    <app-partyhistory (editPartyMasterEntry)="editPartyMasterEntry($event)"></app-partyhistory>
    </ng-template>
  </li>
  
</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>


