<div>
  <form autocomplete="off"  #formForm="ngForm" (ngSubmit)="formForm.form.valid && save()" novalidate>
    <p-toolbar [style]="{width: '95%',padding:'2px'}">
      <div class="p-toolbar-group-left ">
      </div>
      <div class="p-toolbar-group-right">
        <div class="row">
          <div class="col-sm-6 ">
            <button pButton pRipple type="submit" label="Save"  icon="pi pi-check"
              iconPos="left"></button>
          </div>
          <div class="col-sm-6 ">
            <button pButton pRipple type="reset" label="Reset" (click)="save()" icon="pi pi-undo"
              iconPos="left"></button>
          </div>
        </div>
      </div>
    </p-toolbar>

      <div class="panel-body">
        <div class="row">
          <div class="col-sm-4 form-group row">
            <label class="col-sm-4 col-form-label">Status</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" pInputText pKeyFilter="alpha" name="status" [(ngModel)]="status1.status" #s1="ngModel" required
                [maxlength]="20">
              <div *ngIf="s1.errors && (s1.dirty || s1.touched || formForm.submitted)" class="error-tooltip  top" style=" right: -164px;">
                <div [hidden]="s1.hasError().required">Status is required.</div>
                <div [hidden]="s1.hasError().pattern">No leading space is allowed.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
     </form>
  <p-toast position="bottom-center" key="bc"></p-toast>
</div>