<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Employee Master</a>
    <ng-template ngbNavContent>
      <app-employeemasterentry [(employeemaster)]="employeemaster"></app-employeemasterentry>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink (click)="clear();">Employee Master @History</a>
    <ng-template ngbNavContent>
      <app-employeemasterhistory (editEmployeemasterentry)="editEmployeemasterentry($event)"></app-employeemasterhistory>
    </ng-template>
  </li>

</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>