<div>
  <form autocomplete="nope" #formForm="ngForm" (keydown.enter)="$event.preventDefault()"
    (ngSubmit)="formForm.form.valid && save()" novalidate>
    <div class="panel panel-primary">
      <p-toolbar>
        <div class="p-toolbar-group-left ">
        </div>
        <div class="p-toolbar-group-right">
         <button pButton pRipple type="submit" label="Save(F2)" icon="pi pi-check"
                [disabled]="!formForm.form.valid" iconPos="left"></button>
           <button pButton pRipple type="reset" label="Reset(F5)" (click)="reset()" [disabled]="editmod"
                icon="pi pi-undo" iconPos="left"></button>
          </div>
      </p-toolbar>

      <div class="panel-body">


        <div class="row">
          <div class="col-sm-4 form-group row">
            <label class="col-sm-4 col-form-label">Location<span  class="required-asterisk">*</span></label>
            <div class="col-sm-8">
              <p-autoComplete [minLength]="1" #fe name="locationId" [readonly]="true"
                [(ngModel)]="purchaseInvoice.locationId"  required [suggestions]="filteredList5"
                (completeMethod)="filterList5($event)" field="location_name" [dropdown]="false"
                (onSelect)="change3($event);" [multiple]="false">
                <ng-template let-branch pTemplate="item">
                  <div class="branch-item">
                    <div>{{branch.location_name}}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
             </div>
          </div>
          <div class="col-sm-4 form-group row">
            <label class="col-sm-4 col-form-label">City</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" autocomplete="nope" name="city" [(ngModel)]="purchaseInvoice.city" OnlyNumber='true'>
            </div>
          </div>
          <div class="col-sm-4 form-group row">
            <label class="col-sm-4 col-form-label">Gross Amt</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" autocomplete="nope" name="grossAmt" [(ngModel)]="purchaseInvoice.grossAmt"
                OnlyNumber='true'>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 form-group row">
            <label class="col-sm-4 col-form-label">Invoice No</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" autocomplete="nope" name="docNo" [(ngModel)]="purchaseInvoice.docNo">
            </div>
          </div>

          <div class="col-sm-4 form-group row">
            <label class="col-sm-4 col-form-label">State</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" autocomplete="nope" name="state" [(ngModel)]="purchaseInvoice.state">
            </div>
          </div>
          <div class="col-sm-4 form-group row">
            <label class="col-sm-4 col-form-label">Discount Amount</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" autocomplete="nope" name="discountAmt" [(ngModel)]="purchaseInvoice.discountAmt"
                OnlyNumber='true'>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-sm-4 form-group row">
            <label class="col-sm-4 col-form-label">Invoice Date</label>
            <div class="col-sm-8">
              <p-calendar dateFormat="mm-dd-yy" name="fromWeight" #validityDate="ngModel" required hideOnDateTimeSelect="true" hourFormat="12" showTime="true"
                [showIcon]="true" name="docDt" [(ngModel)]="purchaseInvoice.docDt"></p-calendar>
            </div>
          </div>
          <div class="col-sm-4 form-group row">
            <label class="col-sm-4 col-form-label">Pin code</label>
            <div class="col-sm-8">
              <input type="text" autocomplete="nope" class="form-control" name="pin" [(ngModel)]="purchaseInvoice.pin" OnlyNumber='true'>
            </div>
          </div>
          <div class="col-sm-4 form-group row">
            <label class="col-sm-4 col-form-label">Net Amount</label>
            <div class="col-sm-8">
              <input type="text" autocomplete="nope" class="form-control" name="amt" [(ngModel)]="purchaseInvoice.amt" OnlyNumber='true'>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 form-group row">
            <label class="col-sm-4 col-form-label">Supplier<span  class="required-asterisk">*</span></label>
            <div class="col-sm-8">
              <p-autoComplete [minLength]="1" name="partyId" [suggestions]="filteredEmpList1"
                (completeMethod)="filterEmpList1($event)" [(ngModel)]="purchaseInvoice.partyId" field="party_name"
                [dropdown]="true" [multiple]="false" (onSelect)="change4($event)">
                <ng-template let-branch pTemplate="item">
                  <div class="branch-item">
                    <div>{{branch.party_name}}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
              <!--div *ngIf="localOS.errors && (localOS.dirty ||localOS.touched)" class="error-tooltip  top">
                  <div [hidden]="localOS.hasError().required">Location is required.
                  </div>
                </div-->
            </div>
          </div>
          <div class="col-sm-4 form-group row">
            <label class="col-sm-4 col-form-label">Phone No</label>
            <div class="col-sm-8">
              <input type="text" autocomplete="nope" class="form-control" name="phoneNo" [(ngModel)]="purchaseInvoice.phoneNo">
            </div>
          </div>
          <div class="col-sm-4 form-group row">
            <label class="col-sm-4 col-form-label">Ref Date</label>
            <div class="col-sm-8">
              <p-calendar dateFormat="mm-dd-yy" name="fromWeight" #refDate="ngModel" required hideOnDateTimeSelect="true" hourFormat="12" showTime="true"
                [(ngModel)]="purchaseInvoice.docDt" [showIcon]="true" name="docDt"></p-calendar>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 form-group row">
            <label class="col-sm-4 col-form-label">Address 1</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="address" [(ngModel)]="purchaseInvoice.address">

            </div>
          </div>
          <div class="col-sm-4 form-group row">
            <label class="col-sm-4 col-form-label">Address 2</label>
            <div class="col-sm-8">
              <input type="text" autocomplete="nope" class="form-control" name="address2" [(ngModel)]="purchaseInvoice.address2">

            </div>
          </div>
          <div class="col-sm-4 form-group row">
            <label class="col-sm-4 col-form-label">Address 3</label>
            <div class="col-sm-8">
              <input type="text" autocomplete="nope" class="form-control" name="address3" [(ngModel)]="purchaseInvoice.address3">

            </div>
          </div>

        </div>
        <div class="row">

          <div class="col-sm-4 form-group row">
            <label class="col-sm-4 col-form-label">Ref No</label>
            <div class="col-sm-8">
              <input type="text" autocomplete="nope" class="form-control" name="refNo" [(ngModel)]="purchaseInvoice.refNo">
            </div>
          </div>
          <div class="col-sm-4 form-group row">
            <label class="col-sm-4 col-form-label">Fax No</label>
            <div class="col-sm-8">
              <input type="text" autocomplete="nope" class="form-control" name="faxNo" [(ngModel)]="purchaseInvoice.faxNo">
            </div>
          </div>
        </div>


        <div class="col-sm-4 form-group row">
          <label class="col-sm-4 col-form-label">User Id</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="verifiedBy" readonly [(ngModel)]="purchaseInvoice.userId" #verifiedBy="ngModel" required>
        
          <div *ngIf="verifiedBy.errors && (verifiedBy.dirty ||verifiedBy.touched)" class="error-tooltip  top">
            <div [hidden]="verifiedBy.hasError().required">User Id is required.
            </div>
          </div>
          </div>
        </div>


      </div>
      <div class="card">

        <p-table [value]="products2" styleClass="p-datatable-striped" #detailtable dataKey="sno"  [scrollable]="true" scrollHeight="400px" scrollDirection="both"  editMode="row">
          <ng-template pTemplate="header">
            <tr>
              <th style="width:2em">SNo.</th>
              <th style="width:16em;text-align:center;">Title<span  class="required-asterisk">*</span></th>
              <th style="width:6em;text-align:left;">Product Code</th>
              <th style="width:7em;text-align:left;">Author</th>
              <th style="width:7em;text-align:left;">Publisher</th>
              <th style="width:7em;text-align:left;">Supplier</th>
              <th style="width:5em;text-align:left;">Qty<span  class="required-asterisk">*</span></th>
              <th style="width:5em;text-align:left;">Actual Price</th>
              <th style="width:5em;text-align:left;">Amt</th>
              <th style="width:5em;text-align:left;">Disc%</th>
              <th style="width:5em;text-align:left;">DiscAmt</th>
              <th style="width:5em;text-align:right;">NetAmt</th>
              <th style="width:18em;text-align:right;">
                <p-button label="New(F7)" icon="pi pi-plus"  (click)="addvalue();"  ></p-button>
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="product">
              <td style="width:2em">{{product.sno}}</td>

              <td style="width:16em" pEditableColumn >
                <p-cellEditor>
                  <ng-template pTemplate="input" >
                    <app-customsearch [content]="temptitleList2" id="productId{{ri}}" [value]="product.productName"
                      field="prod_name" name="productId{{ri}}" [id]="product.productId" 
                      (onSelect)="selectedAutoCompletedValue($event,ri,product);" ></app-customsearch>

                  </ng-template>
                  <ng-template pTemplate="output" >
                    {{product.productName}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td style="width:6em" pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" tabindex="-1" disabled name="productCode{{ri}}" size="4"
                      [(ngModel)]="product.productCode">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{product.productCode}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td style="width:7em" pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" tabindex="-1" disabled name="author{{ri}}" size="6"
                      [(ngModel)]="product.author">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{product.author}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td style="width:7em" pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" tabindex="-1" disabled name="publisher{{ri}}" size="6"
                      [(ngModel)]="product.publisher">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{product.publisher}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td style="width:7em" pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" tabindex="-1" disabled name="supplier{{ri}}" size="6"
                      [(ngModel)]="product.supplier">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{product.supplier}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td style="width:5em" pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" autocomplete="nope" name="qty{{ri}}" OnlyNumber="true" required size="3" (change)="change2($event,ri,product)"
                       [(ngModel)]="product.qty">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{product.qty}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td style="width:5em" pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" tabindex="-1" disabled name="rate{{ri}}" required size="3"
                      [(ngModel)]="product.rate">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{product.rate}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td style="width:5em" pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" tabindex="-1" disabled name="amount{{ri}}" required size="3"
                      [(ngModel)]="product.amount">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{product.amount}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td style="width:5em" pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text"  autocomplete="nope"name="discPc{{ri}}"  OnlyNumber="true"  size="3" [(ngModel)]="product.discPc"  (change)="change2($event,ri,product)">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{product.discPc}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td style="width:5em" pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" autocomplete="nope"  disabled name="discamt{{ri}}" size="3" [(ngModel)]="product.discamt" >
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{product.discamt}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td style="width:5em" pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input" >
                    <input pInputText type="text"  tabindex="-1" disabled  name="netAmt{{ri}}" size="3" [(ngModel)]="product.netAmt" >
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{product.netAmt}}
                  </ng-template>
                </p-cellEditor>
              </td>


              <td style="text-align:right;">
                <button *ngIf="!editing" pButton tabindex="-1" pRipple type="button" pInitEditableRow
                  icon="pi pi-pencil" (click)="onRowEditInit(product)" class="p-button-rounded p-button-text"></button>
                <button *ngIf="editing" pButton pRipple type="button" tabindex="-1" pSaveEditableRow icon="pi pi-check"
                  (click)="onRowEditSave(product)"
                  class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                <button *ngIf="editing" pButton tabindex="-1" pRipple type="button" pCancelEditableRow
                  icon="pi pi-times" (click)="onRowEditCancel(product, ri)"
                  class="p-button-rounded p-button-text p-button-danger"></button>
              
                <button pButton pRipple type="button" tabindex="-1" icon="pi pi-trash"
                  (click)="onRowDelete(product, ri)" class="p-button-rounded p-button-danger p-button-text"></button>

              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <tr>
              <th style="width:3em">Total Items</th>
                <th style="width:16em;text-align:center;">{{sno}}</th>
                <th style="width:8em;text-align:center;">Total</th>
              <th style="width:8em;text-align:center;">{{purchaseInvoice.totalQty}} </th>
              <th style="width:8em;text-align:center;"></th>
              <th style="width:8em;text-align:center;"></th>
              
              <th style="width:8em;text-align:center;">{{purchaseInvoice.grossAmt}} </th>  
              <th style="width:8em;text-align:center;">{{purchaseInvoice.discountAmt}} </th>
              <th style="width:8em;text-align:center;">{{purchaseInvoice.amt}}</th>
              
              
            </tr>
        </ng-template>
        </p-table>
      </div>
    </div>

  </form>
  <p-toast position="bottom-center" key="success"></p-toast>
  <p-toast position="bottom-center" key="error"></p-toast>
</div>