<div>
  <form autocomplete="nope" #formForm="ngForm" (keydown.enter)="$event.preventDefault()" (ngSubmit)="formForm.form.valid && save()" novalidate>
    <div class="panel panel-primary">
      <p-toolbar>
        <div class="p-toolbar-group-left ">
        </div>
        <div class="p-toolbar-group-right">
        <button pButton pRipple type="submit" label="Save(F2)" icon="pi pi-check" [disabled]="!formForm.form.valid" iconPos="left"></button>
        <button pButton pRipple type="reset" label="Reset(F5)" (click)="reset()" [disabled]="editmod" icon="pi pi-undo" iconPos="left"></button>
        </div>
       </p-toolbar>

      <div class="panel-body">

        <div class="row">
          <div class="col-sm-4 form-group row">
            <label class="col-sm-4 col-form-label">Title<span  class="required-asterisk">*</span></label>
            <div class="col-sm-8">
              <input type="text" #fe  class="form-control" AlphaNumeric='true' style="text-transform: uppercase;"  name="prodName" [(ngModel)]="titlemaster.prodName"
                required>
             
            </div>
          </div>
          <div class="col-sm-4 form-group row">
            <label class="col-sm-4 col-form-label">Title Code</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" [readonly]="true" tabindex=-1 name="productCode" 
                 [(ngModel)]="titlemaster.productCode">
             </div>
          </div>

          <div class="col-sm-4 form-group row">
            <label class="col-sm-4 col-form-label">Title Group<span  class="required-asterisk">*</span></label>
            <div class="col-sm-8">
              <p-autoComplete [minLength]="1" name="productGroup" [(ngModel)]="titlemaster.productGroup"  required
                [suggestions]="filteredEmpList2" (completeMethod)="filterEmpList2($event)" field="group_name"
                [dropdown]="true">
                <ng-template let-branch pTemplate="item">
                  <div class="branch-item">
                    <div>{{branch.group_name}}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
             
            </div>
          </div>

        </div>
        <div class="row">
         <!-- <div class="col-sm-4 form-group row">
            <label class="col-sm-4 col-form-label">Rate</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="rate" OnlyNumber='true' [(ngModel)]="titlemaster.rate">
            </div>
          </div>-->
          <div class="col-sm-4 form-group row">
            <label class="col-sm-4 col-form-label">Subject<span  class="required-asterisk">*</span></label>
            <div class="col-sm-8">
              <p-autoComplete [minLength]="1" name="subject" [(ngModel)]="titlemaster.subject"  required
                [suggestions]="filteredParentlocationList3" (completeMethod)="filterParentlocationList3($event)"
                field="subjects" [dropdown]="true">
                <ng-template let-branch pTemplate="item">
                  <div class="branch-item">
                    <div>{{branch.subjects}}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
              


            </div>
          </div>
          <div class="col-sm-4 form-group row">
            <label class="col-sm-4 col-form-label">Author<span  class="required-asterisk">*</span></label>
            <div class="col-sm-8">
              <p-autoComplete [minLength]="1" name="author" [(ngModel)]="titlemaster.author" required
                [suggestions]="filteredList5" (completeMethod)="filterList5($event)" field="authr_name"
                [dropdown]="true">
                <ng-template let-branch pTemplate="item">
                  <div class="branch-item">
                    <div>{{branch.authr_name}}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
             

            </div>

          </div>

        </div>

        <div class="row">
         <!-- <div class="col-sm-4 form-group row">
            <label class="col-sm-4 col-form-label">Category</label>
            <div class="col-sm-8">
              <p-autoComplete [minLength]="1" name="category" [(ngModel)]="titlemaster.category" #category="ngModel" required
                [suggestions]="filteredEmpList1" (completeMethod)="filterEmpList1($event)" field="category"
                [dropdown]="true">
                <ng-template let-branch pTemplate="item">
                  <div class="branch-item">
                    <div>{{branch.category}}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
              <div *ngIf="category.errors && (category.dirty ||category.touched)" class="error-tooltip  top">
                <div [hidden]="category.hasError().required">category is required.
                </div>
              </div>
            </div>
          </div>-->
         <!-- <div class="col-sm-4 form-group row">
            <label class="col-sm-4 col-form-label">Discount</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="discount" OnlyNumber='true' [(ngModel)]="titlemaster.discount">
            </div>
          </div>-->
          <div class="col-sm-4 form-group row">
            <label class="col-sm-4 col-form-label">Publisher</label>
            <div class="col-sm-8">
              <p-autoComplete [minLength]="1" name="publisher" [(ngModel)]="titlemaster.publisher"  
                [suggestions]="publisherdLists" (completeMethod)="publisherList($event)" field="party_name"
                [dropdown]="true">
                <ng-template let-branch pTemplate="item">
                  <div class="branch-item">
                    <div>{{branch.party_name}}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
              

            </div>
          </div>
          <div class="col-sm-4 form-group row">
            <label class="col-sm-4 col-form-label">Published Year <span  class="required-asterisk">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" OnlyNumber="true" minlength="4" maxlength="4" name="publishedYear"
                required #publishedYear="ngModel" [(ngModel)]="titlemaster.publishedYear">
              
              <!--

              <p-calendar dateFormat="mm-dd-yy" hideOnDateTimeSelect="true" hourFormat="12" showTime="true"
                [showIcon]="true" name="publishedYear" [(ngModel)]="titlemaster.publishedYear"></p-calendar>
                -->
            </div>
          </div>
          <div class="col-sm-4 form-group row">
            <label class="col-sm-4 col-form-label">ISBN Code</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="isbnCode" [(ngModel)]="titlemaster.isbnCode">
            </div>
          </div>

        </div>
      


      </div>
      <div class="card"  style="height: 280px;">
        <p-table [value]="products2" styleClass="p-datatable-striped" #detailtable dataKey="sno" editMode="row" [scrollable]="true" scrollHeight="330px">
          <ng-template pTemplate="header">
            <tr>
              <th style="width:3em">SNo.</th>
              <th style="width:20em;text-align:center;">Supplier<span  class="required-asterisk">*</span></th>
              <th style="width:8em;text-align:left;">Rate<span  class="required-asterisk">*</span></th>
              <th style="width:8em;text-align:left;">Discount<span  class="required-asterisk">*</span></th>
              <th style="width:18em;text-align:center;">
                <p-button label="New(F7)" icon="pi pi-plus"  (click)="addvalue();"></p-button>
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="product">
              <td style="width:3em">{{product.sno}}</td>

              
              
                <td style="width:20em" pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-autoComplete [minLength]="1" autofocusac name="partyId{{ri}}"  [suggestions]="filteredEmpList1" required
                    (completeMethod)="filterEmpList1($event)" [(ngModel)]="product.partyId" field="party_name"
                    [dropdown]="true" [multiple]="false">
                    <ng-template let-branch pTemplate="item">
                      <div class="branch-item">
                        <div>{{branch.party_name}}</div>
                      </div>
                    </ng-template>
                  </p-autoComplete>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{product.partyId.party_name}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td style="width:8em" pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" required OnlyNumber='true' name="rate{{ri}}"  size="4" [(ngModel)]="product.rate">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{product.rate}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td style="width:8em" pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" required OnlyNumber='true' name="discount{{ri}}"  size="4" [(ngModel)]="product.discount">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{product.discount}}
                  </ng-template>
                </p-cellEditor>
              </td>
             


              <td style="text-align:center;">
                <button *ngIf="!editing" pButton  tabindex="-1" pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                  (click)="onRowEditInit(product)" class="p-button-rounded p-button-text"></button>
                <button *ngIf="editing"  pButton pRipple type="button"  tabindex="-1" pSaveEditableRow icon="pi pi-check"
                  (click)="onRowEditSave(product)"
                  class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                <button *ngIf="editing" pButton   tabindex="-1" pRipple type="button" pCancelEditableRow icon="pi pi-times"
                  (click)="onRowEditCancel(product, ri)"
                  class="p-button-rounded p-button-text p-button-danger"></button>
              </td>
              <td style="text-align:center">
                <button pButton pRipple type="button"  tabindex="-1" icon="pi pi-trash" (click)="onRowDelete(product, ri)"
                  class="p-button-rounded p-button-danger p-button-text"></button>

              </td>
            </tr>
          </ng-template>
        </p-table>

      </div>
    </div>
  </form>
  <p-toast position="bottom-center" key="success"></p-toast>
  <p-toast position="bottom-center" key="error"></p-toast>
</div>