<div>
  <form autocomplete="off"  #formForm="ngForm" (ngSubmit)="formForm.form.valid && save()" novalidate>

    <div class="panel panel-primary">
      <p-toolbar [style]="{width: '95%',padding:'2px'}">
        <div class="p-toolbar-group-left ">
        </div>
        <div class="p-toolbar-group-right">
          <div class="row">
            <div class="col-sm-6 ">
              <button pButton pRipple type="submit" label="Save" icon="pi pi-check" [disabled]="!formForm.form.valid" iconPos="left"></button>
            </div>
            <div class="col-sm-6 ">
              <button pButton pRipple type="reset"  (click)="formForm.resetForm()" label="Reset" icon="pi pi-undo" iconPos="left"></button>
            </div>
          </div>
        </div>
      </p-toolbar>
      <div class="panel-body">

        <div class="row">
          <div class="col-sm-4 form-group row">
            <label class="col-sm-4 col-form-label">Designation</label>
            <div class="col-sm-8">
          
              <input type="text" autofocusonloading class="form-control" AlphaNumeric='true' name="parent"
              [(ngModel)]="designationmaster.designation" #locationName="ngModel" required>
              <div *ngIf="locationName.errors && (locationName.dirty || locationName.touched)"
              class="error-tooltip  top" style=" right: -164px;">
              <div [hidden]="locationName.hasError().required">Designation is required.</div>
              <div [hidden]="locationName.hasError().pattern">No leading space is allowed.</div>
            </div>
            </div>
          </div>

          <div class="col-sm-4 form-group row">
            <label class="col-sm-4 col-form-label">Designation Code</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" AlphaNumeric='true' name="designationCode"
                [(ngModel)]="designationmaster.designationCode"  #locationCode="ngModel" required>
                <div *ngIf="locationCode.errors && (locationCode.dirty || locationCode.touched)"
                class="error-tooltip  top" style=" right: -164px;">
                <div [hidden]="locationCode.hasError().required">Designation Code is required.</div>
                <div [hidden]="locationCode.hasError().pattern">No leading space is allowed.</div>
              </div>
            </div>
          </div>
          </div>
          
      </div>
    </div>

  </form>
  <p-toast position="bottom-center" key="success"></p-toast>
  <p-toast position="bottom-center" key="error"></p-toast>
</div>