<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Category</a>
    <ng-template ngbNavContent>
      <app-categoryentry [(categorymaster)]="categorymaster"></app-categoryentry>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink (click)="clear();">Category @History</a>
    <ng-template ngbNavContent>
      <app-categoryhistory (editBranchentry)="editBranchentry($event)"></app-categoryhistory>
    </ng-template>
  </li>

</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>